.header-area {
    height: 80px;
    padding: 0 20px;
    background-color: yellow;
    box-shadow: 0 5px 10px 3px lightgrey;
  
    & > .title {
      display: inline-block;
      font-size: 28px;
      font-weight: bold;
      line-height: 80px;
      vertical-align: top;
    }
  }